.footer{
    position:fixed;
    left:2px;
    bottom:3px;
    padding: 10px;
    width:100%;
    background-color:gray;
    color:greenyellow;
    text-align:center;
    a{
      
     color:greenyellow;
        text-decoration: none;
    }
    a:hover{
        color: red;
        text-decoration:underline;
    }
}
    