*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 20px; 
    padding: 10px 20px; 
    list-style: none;
    padding: 10px 20px;  
    list-style: none;
    background-color: #333;
    color: white;
    box-sizing: border-box;
}

.navbar .logo{
    font-weight: bold;
    font-size: 18px;
}

.navbar a{
    color: white;
    text-decoration: none;
   display: inline-block;
   padding: 10px 20px;
   font-size: 1rem; /*1rem=16px*/
}

.navbar nav :hover{
    color: chocolate;
}
.search-box{
    display: flex;
    align-items: center;

    input[type="text"]{
        outline: none;
        border: none;
        border-radius: 3px;
        padding: 5px;
        font-size: 14px;   
    }
    button{
        cursor: pointer;
        border: none;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 14px; 
       color: white;
        background-color: #7541ef;
    }

    button:hover{
        background-color: #88acb8;
        color: white;
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

footer a:hover{
    color: chocolate;
}

/*Icons styling */

.mail-icons i {
    font-size: 20px;
    margin-right: 5px;
    text-decoration: none;
    color: #f74343; /* Default color */
    transition: color 0.3s ease;
}

.linkedin-icons i{
    font-size: 20px;
    margin-right: 5px;
    text-decoration: none;
    color: #8194ec; /* Default color */
    transition: color 0.3s ease;
}


.contact-icons:hover {
    color: #0077b5; /* LinkedIn Blue or Mail hover color */
}

/*
 .contact-section {
            text-align: center;
            margin-top: 50px;
        }

        .contact-section p {
            font-size: 18px;
        }

        .contact-section h3 {
            font-size: 22px;
            margin-bottom: 10px;
        } */

  /*HAMBURGER MENU*/
  .hamburger-menu{
    display: none;
    cursor: pointer;
    color: white;
    font-size: 30px;

  }
/* Responsive Navbar */

@media screen and (max-width: 768px) {

    .hamburger-menu {
        display: block;  /* Show on smaller screens */
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;

    }
    nav{
        display: none;
        width: 100%;
        flex-direction: column;
        padding: 10px 0;

    }
     .navbar nav a{
            text-align: left;
            width: 100%;
            padding: 10px ;
        }
        .search-box{
            width: 100%;
            margin-top: 10px;
        }
    }
    
   

 

/* When the hamburger menu is clicked */
.navbar nav.active {
    display: flex;
}



       