*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin:1px;
    padding: 10px 20px; 
    list-style: none;
    background-color: black;
    color: white;

}

.navbar a{
    color: white;
    text-decoration: none;
   display: inline-block;
   padding: 10px 20px;
   font-size: 1rem;
}

.navbar :hover{
    color: chocolate;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

footer a:hover{
    color: chocolate;
}

/*Icons styling */

.mail-icons i {
    font-size: 20px;
    margin-right: 5px;
    text-decoration: none;
    color: #f74343; /* Default color */
    transition: color 0.3s ease;
}

.linkedin-icons i{
    font-size: 20px;
    margin-right: 5px;
    text-decoration: none;
    color: #8194ec; /* Default color */
    transition: color 0.3s ease;
}


.contact-icons:hover {
    color: #0077b5; /* LinkedIn Blue or Mail hover color */
}

/*
 .contact-section {
            text-align: center;
            margin-top: 50px;
        }

        .contact-section p {
            font-size: 18px;
        }

        .contact-section h3 {
            font-size: 22px;
            margin-bottom: 10px;
        } */

       